/* Styles go here */

body {
  box-sizing: border-box;
}
.gallery {
  background-color:#b5efa5;
  height:600px;
  border: 2px solid green;
  margin:auto;
}
.floating-image img {
  width:150px;
  height:100px;
  
}

.floating-image:hover {
  border: 2px solid red;
}

.floating-image {
    display: inline-block;
    width: 150px;
    height: 100px;
    margin: 10px;
    border: 3px solid #73AD21;  
    
}
header, footer {
  background-color:black;
  color:white;
}
