/* Images Styles go here */


#candies::after {
    content: "";
    clear: both;
    display: table;
}


#candies {
  float:left;
  width:80px;
  height:90px;
  padding-top:1em;
}

#small {
  width:50px;
  height:50px;
}