/* Main Styles go here */

body {
  background-image:url("background_1920x1080_1.jpg");
}
div.main {
  width:100%;
  

}

header, footer {
    padding: 2em;
    color: white;
    background-color: #04224c;
    text-align: center;
    font-family:Montserrat;

}

.footer-left {
  float: left;
  color:yellow;
  vertical-align:middle;
}

.footer-right {
  float: right;
}

footer {
	position:absolute;
	width:100%;
	bottom:0;
}
footer div a {
  color:yellow;
 
}