/* Styles go here */

#top-left {
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  border: 3px solid #73AD21;
}

#top-right {
  position: absolute;
  top: 0;
  right: 0;
  width: 150px;
  border: 3px solid #73AD21;
}

#bottom-left {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 150px;
  border: 3px solid #73AD21;
}

#bottom-right
  {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 150px;
    border: 3px solid #73AD21;
  }