/* Styles go here */

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  direction:rtl;
  text-align:right;
  background-image: url("http://cdn.wallpapersafari.com/50/77/ZPfjFT.jpg");
  background-repeat: no-repeat;
  background-size: cover;  
}

#search {
  /*display: inline;*/
}

.actor-item {
  float: right;
  width: 25%;
  padding: 5px;
}

.actor-item img {
  max-width: 100%;
  margin: 0 auto;
  height:500px;
  display: block;
}

.actor-item p {
  text-align: center;
  color:yellow;  
  font-weight:bold;
}

@media only screen and (max-width: 500px) {
  .actor-item {
    width: 100%;
  }
}

.img-selected {
  border: 3px solid red;
}

movie div {
  color:white;
}

movie div h3{
  margin-top: 0px;

}
h1 {
  color:white;	
}

.length {
  color: blue;
  font-size: 80%;
}