/* Styles go here 
  table, th , td  {
    border: 1px solid grey;
    border-collapse: collapse;
    padding: 5px;
	align:right;
  }
  table tr:nth-child(odd) {
    background-color: #f5f5f5;
  }
  table tr:nth-child(even) {
    background-color: #ffffff;
  }
*/  
  body {
	  direction:rtl;
	  text-align:right;
  }
  
  