<!DOCTYPE html>
<html>

<head>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <script src="actors.js"></script>
  <link rel="stylesheet" href="style.css">
  <!-- <script src="script.js"></script> -->
</head>

 <body ng-app="actorsApp" ng-controller="ActorsGalleryCtrl">
  <h1>מסך הבית של השחקנים</h1>
	<form>
		חיפוש: <input type="text" name="search" id="search" placeholder="חיפוש שחקן" ng-model="searchActor"/> 
		מיון: 
		<select ng-model="sortArg">
		  <option value="">ללא מיון</option>
		  <option value="firstName">שם פרטי</option>
		  <option value="lastName">שם משפחה</option>
		</select>

	</form>
    <div class="gallery-item clearfix" ng-repeat="actor in actors | filter:searchActor | orderBy:sortArg">
      <a href="{{actor.infoURL}}" target="_blank"><img ng-src={{actor.photoURL}}><br></a>
      <span>{{actor.firstName}} {{actor.lastName}}</span>
    </div>
  <br>
  <br>
  <br>
  <nav>
    <ul>
      <li>שחקנים</li>
      <li>המובילים</li>
      <li>חיפוש</li>
    </ul>
  </nav>
</body>

</html>