<div ng-app="">
  <nav class="navbar navbar-default" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header navbar-right">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                        </button>
      <a class="navbar-brand" href="#!inventory">&nbsp;&nbsp;&nbsp;מסך מודול ניהול מוצרים</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">

      <ul class="nav navbar-nav navbar-right">
        <li><a href="#!inventory" data-toggle="tooltip" data-placement="bottom" title="מחק רשומה"><img src="app/resources/RemoveUser.png" class="img-responsive" alt="Image" width="24" height="24" ng-click="remove()"></a></li>
        <li><a href="#!inventory" data-toggle="tooltip" data-placement="bottom" title="הוסף רשומה"><img src="app/resources/AddUser.png" class="img-responsive addnew" alt="Image" width="24" height="24" ng-click="addNew()"></a></li>
        <li><a href="#"></a></li>
      </ul>
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control text-right" placeholder="חפש" ng-model="filterArg">
        </div>
      </form>
    </div>
    <!-- /.navbar-collapse -->
  </nav>
  <div class="row">
    <div class="col-md-12" class="container">
      <form ng-submit="addNew()">
        <table class="table table-striped table-bordered">
          <thead>
            <tr>
              <!-- <th class="text-center"><input type="checkbox" class="text-center" ng-model="selectedAll" ng-click="checkAll()"/></th>-->
              <th><input type="checkbox" ng-model="selectedAll" ng-change="checkAll()"></th>
              <th class="text-center">שם פריט</th>
              <th class="text-center">שם יצרן</th>
              <th class="text-center">שם ספק</th>
              <th class="text-center">קוד פריט</th>
              <th class="text-center">קטגוריה</th>
              <th class="text-center">כמות במלאי</th>
              <th class="text-center">מחיר ליח'</th>
              <th class="text-center">תיאור הפריט</th>              
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="inventoryDetail in inventoryDetails | filter:filterArg">
              </td>
              <td><input type="checkbox" class="text-center" ng-model="inventoryDetail.checked"></td>
              <td><input type="text" class="form-control text-center" ng-model="inventoryDetail.inventoryName" required/></td>
              <td><input type="text" class="form-control text-center" ng-model="inventoryDetail.manufacturer" required/></td>
              <td><input type="text" class="form-control text-center" ng-model="inventoryDetail.dealer" required/></td>              
              <td><input type="text" class="form-control text-center" ng-model="inventoryDetail.itemID" required/></td>
              <td><input type="text" class="form-control text-center" ng-model="inventoryDetail.category" required/></td>
              <td><input type="number" class="form-control text-center" ng-model="inventoryDetail.itemCount" required/></td>
              <td><input type="number" class="form-control text-center" ng-model="inventoryDetail.itemPrice" required/></td>
              <td><input type="text" class="form-control text-center" ng-model="inventoryDetail.description" required/></td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>
  </div>
</div>

</html>