/* main stylesheet file Styles go here main.css */

/* forming main style */


* {
    box-sizing: border-box;
}
body {
	direction:rtl;
	text-align:right;
	font-family:Arial;
}

header {
  
  background-color: #909090;
  padding-top:4.5em;
}


footer {
	  background-color: #909090;
	  padding-top:0.5em;
}

p{
    text-align:right;
	font-size:13px;
}
