/* Styles go here */

header {
  background-color: red;
  color: white;
  text-align: center;
  border-bottom: 3px solid black;
}

header h1 {
  margin: 0;
}

nav {
  background-color: rgb(63, 72, 204);
  border-bottom: 3px solid black;
  text-align: center;
}

nav div {
  display: inline;
}

nav a {
  text-decoration: none;
  color: white;
  margin: 10px;
}

img {
  width: 200px;
}

.column {
  width: 50%;
  float: left;
  box-sizing: border-box;
  padding: 0px 10px;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

footer {
  background-color: gray;
  border-top: 2px solid black;
}

.footer-left {
  float: left;
}

.footer-right {
  float: right;
}