/* Styles go here */
body {
  direction:rtl;
  text-align:right;
}


ul {
  border:1px solid red;
  margin:0;
  padding:0;
  width:200px;
  background-color:lightgrey;
  list-style-type: none;
  padding:20px 20px;
}

li {
      /* padding-top:20px; 8/
      /* padding-bottom:20px; */
      font-family:tahoma;
      font-size:14px;
      margin-right:10px;
}
li a {
    text-decoration:none;

}

li a:hover {
  background-color:yellow;
  
}