/* stylesheet file for main page section , articles.css  */


div.text1 {
    width: 238px;
    height: 117px;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    position: absolute;
    right: 495px;
    top: 310px;
    color: #fff;
    background: url(../images/hp_tab_text_bg.png) no-repeat 0 0;
    background-image: url(../images/hp_tab_text_bg.png);
    background-position-x: 0px;
    background-position-y: 0px;
    background-size: initial;
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
}


div.text2 {
    width: 238px;
    height: 117px;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    position: absolute;
    left: 550px;
    top: 310px;
    color: #fff;
    background: url(../images/hp_tab_text_bg.png) no-repeat 0 0;
    background-image: url(../images/hp_tab_text_bg.png);
    background-position-x: 0px;
    background-position-y: 0px;
    background-size: initial;
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
}

div.text3 {
    width: 248px;
    height: 147px;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    position: absolute;
    right: 790px;
    top: 310px;
    color: #fff;
    background: url(../images/hp_tab_text_bg.png) no-repeat 0 0;
    background-image: url(../images/hp_tab_text_bg.png);
    background-position-x: 0px;
    background-position-y: 0px;
    background-size: initial;
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
}
a.readMore {
    font-size: 13px;
    text-decoration: underline;
    text-decoration-line: underline;
    text-decoration-style: initial;
    text-decoration-color: initial;
	color:white;
}