/* stylesheet for images css style file */
div .first-row img{
   height:350px;
    width:291px;
}

div .second-row-row img{
   height:200px;
    width:180px;

}

.images2 .left-img {
	padding-right:180px;
	
	
}

.images2 .middle-img {
	padding-top:1em;
	padding-bottom:2.5em;
}

.images2 .right-img {
	padding-bottom:1.5em;
}
.images1 {
    float:right;
    margin-right:13px;
}

.images2 {
    float:right;
	height:210px;
    width:245px;
    margin-right:13px;
	padding-right:20px;
	padding-left:25px;
	padding-top:20px;
	padding-bottom:20px;
	background-color:#e8ebed;
	border:1px solid #e8ebed;
	border-bottom-right-radius:2em;
}


.first-row {
	margin:0 auto;
	width:50%;
	padding-top:3em;	
}

second-row {
	margin:0 auto;
	width:50%;
	padding-top:3em;	
}


.second-row {
	margin:0 auto;
	width:50%;
	padding-top:4em;
	padding-bottom:7em;
}

.first-row::after {
    content: "";
    clear: both;
    display: table;

} 


.second-row::after {
    content: "";
    clear: both;
    display: table;
}