/* stylesheet for images css style file */
div .first-row img{
   height:350px;
    width:291px;
}

div .second-row-row img{
   height:100px;
    width:100px;
}


.images1 {
    float:right;
    margin-right:5px;
}

.images2 {
    float:right;
    margin-right:5px;
}

.first-row {
	margin:0 auto;
	width:50%;
}


.second-row {
	margin:0 auto;
	width:50%;
}

.first-row::after {
    content: "";
    clear: both;
    display: table;

} 


.second-row::after {
    content: "";
    clear: both;
    display: table;
}