/* main stylesheet main.css file */

body {
	direction:rtl;
	text-align:right;
	font-family: 'Ariel (Hebrew)', Ariel;
	padding:bottom:30px;

}


p{
    text-align:center;
}

header {
	
	background-color:#909090;
	height:33px;
	top:72px;
	margin:0px 143px 0px 0px auto;
	padding:2em;
	
}