/* main stylesheet main.css file */

body {
	direction:rtl;
	font-family: 'Arial (Hebrew)', Arial;
	padding:bottom:30px;

}


p{
    text-align:center;
}

header {
	background-color:#909090;
	height:33px;
	top:100px;
	margin:0px 143px 0px 0px auto;
	padding:2em;
	
}

footer {
	float: right;
	background-color:#909090;
	width: 100%;
    height: 33px;
	padding:0.5em;

}




.footer-content {
	font-size: 14px;
    display: block;
	margin:0 auto;
	width:80%;

}

.footer-content a {
	color:white;
	text-decoration:none;
	padding:5px;


}
* {
    padding: 0;
    margin: 0;
}
