/* stylesheet menu.css file with menu styling */

/* Header dropdown menu section start here */


nav ul {
  list-style-type: none;
  margin-right:450px;
  padding-top:25px;

}

nav ul li {
  float: right;
  background-color: #909090;
}

nav ul li a {
  display: inline-block;
  text-decoration: none;
  font-size: 18px;
  color: white;
  padding: 8px 20px;
  border-right:1px solid white;
}
 nav ul li:first-child a {
	border-right:none;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color:#909090;
  width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
    display: block;
    font-size: 14px;
    color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}

a:hover {
  background-color: Blue;
}

.dropdown-content a:hover {
  background-color: #adafb2;
}


/* Footer menu line section start here  */


footer div ul {
  list-style-type: none;
  margin-right:280px;
  padding-top:10px;
 

}

footer div ul li {
  float: right;
  background-color: #909090;

}

footer div  ul li a {
  display: inline-block;
  text-decoration: none;
  font-size: 14px;
  color: white;
  padding: 8px 20px;
  border-right:1px solid white;
}

footer div ul li:first-child a {
	border-right:none;
}