/* stylesheet menu.css file with menu styling */

/* Header dropdown menu section start here */
nav ul {
  list-style-type: none;


}

nav ul li {
  float: left;
  background-color: #909090;

}

nav ul li a {
  display: inline-block;
  text-decoration: none;
  font-size: 16px;
  font-weight:bold;
  color: white;
  padding: 8px 20px;
  border-left:1px solid white;
}

nav ul li:first-child a {
	border:none;
}



/* Footer menu line section start here */
div ul {
  list-style-type: none;
  /*background-color: blue;*/
  /*overflow: hidden;*/

}

div ul li {
  float: left;
  background-color: #909090;

}

div ul li a {
  display: inline-block;
  text-decoration: none;
  font-size: 16px;
  font-weight:bold;
  color: white;
  padding: 8px 20px;
  border-left:1px solid white;
}

div ul li:first-child a {
	border:none;
}



.footer-content:last-child a {
	border:none;
}


.menu {
	width:85%;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color:#909090;
  width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
    display: block;
    font-size: 16px;
    color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}

a:hover {
  color: Blue;
}

.dropdown-content a:hover {
  background-color: #adafb2;
}

