/* Styles go here */
#main 
  {
    margin: auto;
    width: 75%;
    border: 3px solid green;
    padding: 10px;
    color: black;
	background-color: red;
    max-width: 1024px;
    max-height:1301px;
	text-align: center;
	}
