/* This stylesheet media.css file is handling all media rules */

@media screen and (min-width:300px) {
  .image {
    display: block;
    position: absolute;
    width: 290px;
    height: 200px;
    border: 1px dashed red;
    bottom: calc(100% - 700px);
  }
}

@media only screen and (device-aspect-ratio: 4/3) {
	   .text {
			display: block;
	   }
}

@media (
		-webkit-min-device-pixel-ratio: 1),
			(min-resolution: 902dpi) 
		.video	{
			display:block;

}