/* Styles go here */

body {
  margin-bottom: 120px;
  direction: rtl;
  height: 600px;
  border: 2px solid grey;
}

nav {
  float: right;
  width: 15%;
}

nav ol a {
  text-decoration: none;
}

nav a:hover {
  background-color: yellow;
}

nav ol li {
  list-style-type: none;
}

.clearhack {
  margin: 5px;
  clear: left;
}